
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Creepster&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Gorditas:wght@400;700&family=Libre+Franklin:wght@800&family=Outfit:wght@300;400;600&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #eeeeee;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #1d1d1d;
}

.remove-scroll {
  overflow: hidden;
}

p {
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

section {
  padding: 50px 0px 0px;
}

li {
  list-style: none;
}

/* Utility Classes */

.highlight {
  color: #00cafc;
  font-weight: bold;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left:  20px;
  padding-right:  20px;
}

.is-not-active {
  display: none;
}

h2 {
  font-size: 2rem;
  color:white;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
  color: #06c0c0;
  margin-bottom: 10px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(107, 106, 106);
  background-color: black;
}

.nav__desktop-link-container {
  display: none;
  align-items: center;
  gap: 30px;
}

.nav__logo {
  width: 150px;
}

.nav__hamburger-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  border: 1px solid #00cafc;
  border-radius: 5px;
  cursor: pointer;
}

.nav__hamburger-menu-container:hover {
  background-color: black;
  color: white;
}

.burger-button {
  font-size: 1.5rem;
}

.nav__desktop--link {
  padding: 10px 20px;
  position: relative;
  font-weight: bold;
}

.nav__desktop--link:hover li {
  color: #00cafc;
}

.nav__desktop--link::before {
  content: '';
  width: 0%;
  height: 3px;
  position: absolute;
  background-color: #00cafc;
  bottom: 0;
  left: 0;
  transition: width 200ms ease-in-out;
}

.desktop__navlink--isActive::before {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: #00cafc;
  bottom: 0;
  left: 0;
} 

.nav__desktop--link:hover::before {
  width: 100%;
}

.mobile__navbar-container {
  width: 100%;
  position: absolute;
  height: 0;
  background-color: black;
  overflow: hidden;
  transition: all .5s ease-in-out;
}

.mobile__nav--active{
  height: 100vh;
}

.nav__mobile-link-container {
  padding-bottom: 20px;
}

.nav__mobile--link {
  display: block;
  padding: 20px 20px 20px;
}

.nav__mobile--link:hover {
  background-color: #00cafc;
  font-weight: bold;
  letter-spacing: 5px;
}

.resume--link {
  display: block;
  padding: 40px 0 20px;
  text-align: center;
}

.resume--button {
  text-align: center;
  border:#00cafc 1px solid;
  padding: 10px 30px;
  background-color: #25b2d8;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
}

.resume--button:hover {
  background-color: transparent;
  transition: all .5s ease-in-out;
}

.main__hero {
  padding: 130px 0 0px;
}

.main__hero--heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.main__hero--paragraph {
  font-size: .9rem;
  margin-bottom: 20px;
}

.job {
  display: block;
  color: #00cafc;
}

.main__hero--button {
  display: inline-block;
  padding: 15px 15px;
  border: 1px solid #00cafc;
  border-radius: 5px;
  background-color: none;
  box-shadow: 0px 1px 4px rgb(158, 158, 158);
  color: rgb(255, 255, 255);
  font-weight: 900;
  position: relative;
  overflow: hidden;
}

.main__hero--button::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00cafc;
  z-index: -1;
  /* border-radius: 5px; */
  transition: all .5s ease-in-out;
}

.main__hero--button:hover:before {
  width: 100%;
}


.main__right-container {
  margin: 50px 0 0;
  display: flex;
  justify-content: center;
}

.my-image {
  max-width: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 8px #00cafc;
}

.about__question-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.about__image-holder {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about__image {
  width: 100%;
}

.question-mark {
  position: absolute;
  font-size: 8rem;
  color: #ffffff;
  animation: up-down 1s infinite;
  margin-left: 20px;
  top: 30px;
}


@keyframes up-down {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(0%);
  }
}

.about__information-container p {
  margin-bottom: 20px;
}

.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project__project-container {
  width: 300px;
  border: 1px solid white;
  margin-bottom: 20px;
  padding: 30px 15px 20px;
}

.project__image {
  width: 100%;
}

.project__info-container {
  padding: 15px 10px;
}

.project__icon-container {
  display: flex;
  justify-content: space-between;
}

.project__title {
  text-align: center;
}

.project__tools {
  display: flex;
  justify-content: space-around;
  margin: 30px 0 20px;
}

.project__used-tools {
  color: #00cafc;
  font-size: 2rem;
}

.project-btn {
  display: inline-block;
  border: 1px solid #00cafc;
  box-shadow: 0px 1px 4px rgb(158, 158, 158);
  background-color: none;
  padding: 10px 15px;
  margin: 20px 0 0;
  border-radius: 5px;
  font-weight: 900;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  font-size: .9rem;
}

.project-btn::before {
  content: "";
  position: absolute;
  width: 1000%;
  height: 0;
  top: 0;
  left: 0;
  background-color: #00cafc;
  z-index: -1;
  /* border-radius: 5px; */
  transition: all .5s ease-in-out;
}

.project-btn:hover:before {
  height: 100%;
}

footer {
  background-color: black;
  padding: 20px;
}

.footer__container {
  margin-bottom: 30px;
}

.footer__logo{
  width: 200px;
}

.contact__paragraph {
  font-size: 1rem;
  margin-bottom: 10px;
}

.contact__paragraph i {
  margin-right: 10px;
}

.social__media--logo {
  font-size: 2rem;
  margin-right: 20px;
}

.social__media--logo:hover i{
  transform: scale(1.2);
  color: #00cafc;
}

.footer__bottom-container p {
  text-align: center;
  color:#00cafc;
}

.footer__heading {
  margin-bottom: 30px;
}


@media screen and (min-width: 640px) {

  section {
    padding: 50px 0;
  }

  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  
  h2 {
    margin-bottom: 50px;
  }

  p, .main__hero--paragraph {
    font-size: 1rem;
  }

  .project__project-container {
    width: 450px;
  }

  .project__icon-container {
    padding: 0 50px;
  }


}


@media screen and (min-width: 768px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .main__hero {
    display: flex;
    flex-direction: row;
    align-items: left;
  }

  .main__left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


@media screen and (min-width: 1024px) {

  .container {
    padding-left: 120px;
    padding-right: 120px;
  }

  .projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .nav__hamburger-menu-container {
    display: none;
  }

  .nav__desktop-link-container {
    display: flex;
  }

  .main__hero {
    display: flex;
    flex-direction: row;
    align-items: left;
  }

  .main__left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }

  .main__right-container {
    margin: 0;
    justify-content: flex-end;
    width: 50%;
  }

  .about__container {
    display: flex;
  }

  .about__information-container, .about__question-container {
    width: 50%;
  }

  .about__information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about__information-container p {
    font-size: 1.5rem;
  }

  .project__project-container {
    width: 320px;
  }

  .project__icon-container {
    padding: 0;
  }
  
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer__upper-container {
    display: flex;
    justify-content: space-between;
  }

  .footer__container {
    width: 30%;
  }

  

}















